@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

body{
    background-color: burlywood;
    width: 100%;
    height: 100vh;

}

header{
    width: 100%;
    height: 15%;
    background-color: black;
    position: fixed;
    display: flex;
}

#tituloHeader{
    width: 40%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

#tituloHeader h1{
    font-family: 'Italiana', sans-serif;
    color: white;
    font-size: 24px;
}

#navegacao{
    width: 40%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navegacao button{
    background-color: black;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border: 0px;
}

.esquerda{
    width: 35%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direita{
    width: 45%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#home{
    width: 100%;
    height: 80%;
    background-color: red;
    display: flex;
}

#projetos{
    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sobreMim{
    width: 100%;
    height: 130%;
    background-color: wheat;
}

.divVazios{
    
    width: 10%;
    height: 100%;
    background-color: black;
    
}

#lblWeb{
    font-size: 64px;
    color: red;
}

#lblDesenveloper{
    font-size: 64px;
    color: white;
    margin-bottom: 100px;
}

.texto{
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.esquerda button{
    background-color: red;
    color: white;
    font-size: 24px;
    width: 285px;
    height: 85px;
    border: 0px;
    border-radius: 10px;
}

.direita img{
    height: 600px;
}

.titulos{
    background-color: black;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.titulos h2{
    font-size: 64px;
    color: white;
}

#divProjetos{
    background-color: black;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#divProjetos div{
    width: 45%;
    background-color: black;
    display: flex;
}

#projetoUm{
    align-items: center;
    justify-content: flex-end;
}


#projetoDois{
    flex-direction: column;
    justify-content: center;
}

#calculadora{
    height: 600px;
    cursor: pointer;
}

#simulacao{
    width: 600px;
    margin-bottom: 30px;
    cursor: pointer;

}

#imc{
    width: 600px;
    cursor: pointer;

}

a{
    color: white;
    text-decoration: none;
}

#principal{
    height: 85%;
    width: 100%;
    background-color: black;
    display: flex;
}

#divSobreMim{
    height: 100%;
    width: 50%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#curriculo{
    height: 100%;
    width: 30%;
    background-color:  black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#curriculo img{
    width: 100%;
}

#curriculo button{
    height: 90px;
    width: 100%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 24px;
    border: 0px;
    margin-top: 30px;
}

#divSobreMim label{
    color: white;
    font-size: 16px;
    
}

#divSobreMim h3{
    color: red;
    font-size: 32px;
    font-weight: 300;
}

#divSobreMim li{
    color: white;
    margin-left: 50px;
}

#formacaoAcademica{
    height: 25%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#formacaoAcademica label{
    margin-top: 30px;
    margin-bottom: 20px;
}

#habilidadesTecnicas{
    height: 25%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#habilidadesTecnicas ul{
    margin-top: 30px;
}

#objetivo{
    height: 25%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#objetivo label{
    margin-top: 20px;
    margin-bottom: 40px;
}

#contatos{
    height: 25%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#contatos h2{
    color: white;
    font-size: 64px;
    margin-bottom: 50px;
}

#contatos span{
    color: red;
    font-size: 20px;
}

#vazio1{
    width: 100%;
    height: 15%;
    background-color: black;
}

#vazio2{
    width: 100%;
    height: 10%;
    background-color: black;
}

#vazio3{
    width: 100%;
    height: 7%;
    background-color: black;
}

#vazio4{
    width: 100%;
    height: 15%;
    background-color: black;
}

@media (max-width: 1700px) {
    .direita img{
        height: 500px;
    }
}

@media (max-width: 1500px){
    .direita img{
        height: 400px;
    }

    .texto{
        font-size: 17px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1300px) {

    #lblWeb{
        font-size: 50px;
        margin: 0px;
   }

   #lblDesenveloper{
        font-size: 50px;
        margin-bottom: 40px;
   }

    #calculadora{
        height: 500px;
    }

    #simulacao{
        width: 500px;
    }

    #imc{
        width: 500px;
    }

    #navegacao button{
        font-size: 15px;
    }

    header{
        height: 15%;
    }

    #home{
        height: 60%;
    }

    #projetos{
        height: 70%;
    }

    #principal{
        flex-direction: column;
        height: 180%;
        align-items: center;
    }

    #divSobreMim{
        height: 40%;
        width: 70%;
    }

    #curriculo{
        height: 60%;
        width: 100%;
        align-items: center;
    }

    #curriculo img{
        
        width: 50%;
    }

    #curriculo button{
        width: 50%;
    }

    #principal .divVazios{
        width: 0px;
        height: 0px;
    }

}

@media (max-width: 1150px) {
    .direita img{
        height: 350px;
    }

    #calculadora{
        height: 400px;
    }

    #simulacao{
        width: 400px;
    }

    #imc{
        width: 400px;
    }

    #projetos{
        height: 50%;
    }

    #curriculo{
        height: 50%;
    }
}


@media (max-width: 1000px) {

    #calculadora{
        height: 350px;
    }

    #simulacao{
        width: 350px;
    }

    #imc{
        width: 350px;
    }

    #home{
        height: 60%;
    }

    .divVazios{
        width: 5%;
    }

    .esquerda{
        width: 45%;
    }
    
    .direita{
        width: 45%;

    }

    .direita img{
        height: 300px;
    }

    .texto{
        font-size: 15px;
    }

    .esquerda button{
        height: 60px;
    }

   #lblWeb{
        font-size: 30px;
        margin: 0px;
   }

   #lblDesenveloper{
        font-size: 30px;
        margin-bottom: 20px;
   }


}

@media (max-width: 860px){

    #contatos h2{
        font-size: 40px;
    }

    .titulos h2{
        font-size: 40px;
    }

    #projetos{
        height: 40%;
    }

    #calculadora{
        height: 300px;
    }

    #simulacao{
        width: 300px;
    }

    #imc{
        width: 300px;
    }

    #home{
        height: 110%;
        flex-direction: column;
        background-color: black;
        align-items: center;
    }

    .esquerda{
        height: 50%;
        width: 80%;
       
    }

    .direita{
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    #home .divVazios{
        height: 0%;
        width: 0%;
        
    }

    #tituloHeader{
        width: 30%;
    }

    #navegacao{
        width: 50%;
    }

    #divSobreMim{
        height: 60%;
    }

    #curriculo{
        height: 40%;
    }

    #principal{
        height: 150%;
    }


}

@media (max-width: 700px) {

    #navegacao button{
        font-size: 10px;
    }

    #calculadora{
        height: 240px;
    }

    #simulacao{
        width: 240px;
    }

    #imc{
        width: 240px;
    }

    #divSobreMim h3{
        font-size: 20px;
    }

    #divSobreMim label, li{
        font-size: 15px;
    }
}


@media (max-width: 600px) {
    #navegacao button{
        font-size: 13px;
    }

    #tituloHeader h1{
        font-size: 20px;
    }


}

@media (max-width: 390px) {
    
    #navegacao button{
        font-size: 5px;
    }
}